In [14]:
import numpy as np
import pandas as pd
import json
from flask import jsonify
pd.set_option('display.max_colwidth', 200)

In [93]:
from flask import jsonify

In [94]:
#defining Docs table
docs = pd.DataFrame(data=[
            [1,'This is a random document with ID 1. In this document we are talking about cats. And there is also something about mice.']
           ,[2,'This is a random document with ID 2. In this document we are talking about dogs. And there is also something about mice.']
           ,[3,'This is a random document with ID 3. this doc is exclusivly about Elephants. So no mice, cats nor anything else.']
        ]
        , columns=['ID', 'Full Text'])
print('Documents')
docs

Documents

,ID,Full Text
0,1,This is a random document with ID 1. In this document we are talking about cats. And there is also something about mice.
1,2,This is a random document with ID 2. In this document we are talking about dogs. And there is also something about mice.
2,3,"This is a random document with ID 3. this doc is exclusivly about Elephants. So no mice, cats nor anything else."

In [95]:
#defining Tags table
tags = pd.DataFrame(data=[
         [1,1,37,43]
        ,[2,1,81,39]
    ]
    , columns=['ID', 'DocID', 'startIdx', 'Length'])
print('Tags')
tags

Tags

   ID  DocID  startIdx  Length
0   1      1        37      43
1   2      1        81      39

In [96]:
#defining suggested Tags table
suggested_tags = pd.DataFrame(data=[
         [1,1,81,39, 1, 0.74, None]
        ,[2,2,81,39, 1, 0.5, 0]
        ,[3,3,37,39, 1, 0.8, 1]
        ,[4,3,77,35, 1, 0.77, 1]
    ]
    , columns=['ID', 'DocID', 'startIdx', 'Length', 'TagID', 'SimilarityScore', 'Accepted'])
print('Suggested Tags')
suggested_tags

Suggested Tags

   ID  DocID  startIdx  Length  TagID  SimilarityScore  Accepted
0   1      1        81      39      1             0.74       NaN
1   2      2        81      39      1             0.50       0.0
2   3      3        37      39      1             0.80       1.0
3   4      3        77      35      1             0.77       1.0

In [91]:
#to json
docs.to_json(r'/home/sevi/Desktop/Work/PropulsionDS/GroupChallenges/RelevApp/50_deployment/DummyDocs.json')
tags.to_json(r'/home/sevi/Desktop/Work/PropulsionDS/GroupChallenges/RelevApp/50_deployment/DummyTags.json')
suggested_tags.to_json(r'/home/sevi/Desktop/Work/PropulsionDS/GroupChallenges/RelevApp/50_deployment/DummySuggTags.json')

In [5]:

json_data = {"tags": {"ID":{"0":1,"1":2},"DocID":{"0":1,"1":1},"startIdx":{"0":37,"1":81},"Length":{"0":43,"1":39}},
             "suggTags": {"ID":{"0":1,"1":2},"DocID":{"0":1,"1":1},"startIdx":{"0":37,"1":81},"Length":{"0":43,"1":39}}
            }

In [7]:
json_data["tags"]

{'ID': {'0': 1, '1': 2},
 'DocID': {'0': 1, '1': 1},
 'startIdx': {'0': 37, '1': 81},
 'Length': {'0': 43, '1': 39}}

In [9]:
df = pd.DataFrame.from_dict( json_data["tags"])

In [12]:
df.to_dict()

{'ID': {'0': 1, '1': 2},
 'DocID': {'0': 1, '1': 1},
 'startIdx': {'0': 37, '1': 81},
 'Length': {'0': 43, '1': 39}}

In [17]:
posted_tags = pd.DataFrame.from_dict({"ID":{"0":1,"1":2},"DocID":{"0":1,"1":1},"startIdx":{"0":37,"1":81},"Length":{"0":43,"1":39}})

In [18]:
posted_tags

   ID  DocID  startIdx  Length
0   1      1        37      43
1   2      1        81      39

In [21]:
posted_suggTags = pd.DataFrame.from_dict({"ID":{"0":1,"1":2,"2":3,"3":4},"DocID":{"0":1,"1":2,"2":3,"3":3},"startIdx":{"0":81,"1":81,"2":37,"3":77},"Length":{"0":39,"1":39,"2":39,"3":34},"TagID":{"0":1,"1":1,"2":1,"3":1},"SimilarityScore":{"0":0.74,"1":0.5,"2":0.8,"3":0.77},"Accepted":{"0":None,"1":0.0,"2":1.0,"3":1.0}})

#posted_suggTags = pd.DataFrame.from_dict()

In [22]:
posted_suggTags

   ID  DocID  startIdx  Length  TagID  SimilarityScore  Accepted
0   1      1        81      39      1             0.74       NaN
1   2      2        81      39      1             0.50       0.0
2   3      3        37      39      1             0.80       1.0
3   4      3        77      34      1             0.77       1.0

In [23]:
suggestedTags_df = posted_tags

In [24]:
suggestedTags_df

   ID  DocID  startIdx  Length
0   1      1        37      43
1   2      1        81      39

In [27]:
for ID in posted_tags['ID'].values:

array([1, 2])

In [51]:
suggestedTags_df = posted_tags.copy()
suggestedTags_df['TagID'] = posted_tags['ID'][0]
suggestedTags_df['SimilarityScore'] = 0.5
suggestedTags_df['Accepted'] = None

for index in posted_tags.index[1:]:
    suggestedTags_next = posted_tags
    print(index)
    print(posted_tags['ID'].loc[index])
    suggestedTags_next['TagID'] = posted_tags['ID'][index]
    suggestedTags_next['SimilarityScore'] = 0.5
    suggestedTags_next['Accepted'] = None
    suggestedTags_df = suggestedTags_df.append(suggestedTags_next)

suggestedTags_df.reset_index(inplace = True, drop = True)
suggestedTags_df['ID'] = suggestedTags_df.index

1
2

In [50]:
posted_tags['ID'][0]

1

In [33]:
suggestedTags_df = posted_tags
suggestedTags_df['TagID'] = posted_tags['ID'][0]
suggestedTags_df['SimilarityScore'] = 0.5
suggestedTags_df['Accepted'] = None

In [52]:
suggestedTags_df

   ID  DocID  startIdx  Length  TagID  SimilarityScore Accepted
0   0      1        37      43      1              0.5     None
1   1      1        81      39      1              0.5     None
2   2      1        37      43      2              0.5     None
3   3      1        81      39      2              0.5     None

In [35]:
suggestedTags_df['SimilarityScore'] = 0.5

In [37]:
suggestedTags_next = posted_tags
suggestedTags_next['TagID'] = posted_tags['ID'][index]
suggestedTags_next['SimilarityScore'] = 0.5
suggestedTags_next['Accepted'] = None

In [40]:
suggestedTags_next

   ID  DocID  startIdx  Length  TagID  SimilarityScore Accepted
0   1      1        37      43      2              0.5     None
1   2      1        81      39      2              0.5     None

In [39]:
suggestedTags_df.append(suggestedTags_next)

   ID  DocID  startIdx  Length  TagID  SimilarityScore Accepted
0   1      1        37      43      2              0.5     None
1   2      1        81      39      2              0.5     None
0   1      1        37      43      2              0.5     None
1   2      1        81      39      2              0.5     None

In [4]:
from nltk import sent_tokenize

document = 'Hello World.  this is a ,..., realdy ..   crazy .  . sentence  . /a/sdf.as/df. a.sdf.asd.f/asd.f.asdf.as.df.asdg.ab.dflvjgalsd.b.b ....     '

In [24]:
document

'Hello World.  this is a ,..., realdy ..   crazy .  . sentence  . /a/sdf.as/df. a.sdf.asd.f/asd.f.asdf.as.df.asdg.ab.dflvjgalsd.b.b ....     '

In [92]:
#print(len(sent_tokenize(document)))
len(sent_tokenize(document)[0]) + len(sent_tokenize(document)[1])+ len(sent_tokenize(document)[2])+ len(sent_tokenize(document)[3])+ len(sent_tokenize(document)[4])+ len(sent_tokenize(document)[5])

128

In [91]:
sent_tokenize(document)

['Hello World.',
 'this is a ,..., realdy ..   crazy .',
 '.',
 'sentence  .',
 '/a/sdf.as/df.',
 'a.sdf.asd.f/asd.f.asdf.as.df.asdg.ab.dflvjgalsd.b.b ....']

In [25]:
indexes = [0]
lengths = []
for idx, sent in enumerate(sent_tokenize(document)):
    sent_len = len(sent)
    lengths.append(sent_len)
    next_index = indexes[idx] + sent_len
    
    #count how many speces follow
    while(document[next_index:next_index+1] == ' '):
        next_index += 1
    
    indexes.append(next_index)

In [102]:
import nltk
# converts a raw df row w. id into a sentence dataframe that is compatible w. tags table
def split_in_sentences(DocRow):
    
    text_splitted = nltk.sent_tokenize(DocRow['FullText'])
    
    #lengths = [len(i) for i in text_splitted]
    
    #calculate index of sentence token in original text:
    starts = [0]    
    untokenized_length_to_end = []
    for idx, sent_token in enumerate(text_splitted):
        sent_len = len(sent_token)
        #untokenized_length_to_end.append()
        #sent_len = lengths[idx]
        next_start = starts[idx] + sent_len
        
        #count how many spaces after:
        while(DocRow['FullText'][next_start:next_start+1] == ' '):
            next_start += 1
        
        starts.append(next_start)
        untokenized_length_to_end.append(next_start - starts[idx])
        
    df_Sentences = pd.DataFrame({
                             'DocID': DocRow['DocID'],
                             'SentID': range(len(text_splitted)),
                             'SentText': text_splitted,
                             'SentStartIdx': starts[:-1],
                             'SentLength': untokenized_length_to_end                             
                            })    
    
    return df_Sentences

In [94]:
import pandas as pd
DummyTextBlock = {
    "DocID":{"0":1,"1":2,"2":3},
    "FullText":{
        "0":"This is a random document with ID 1.   In this document we are talking about cats. And there is also something about mice.",
        "1":"This is a random document with ID 2. In this document we are talking about dogs. And there is also something about mice.",
        "2":"This is a random document with ID 3. this doc is exclusivly about Elephants. So no mice, cats nor anything else."
    }
}
df_TEXT = pd.DataFrame(DummyTextBlock)

DummyUserTags = {
    "ID":{"0":1,"1":2},
    "DocID":{"0":1,"1":1},
    "startIdx":{"0":37,"1":81},
    "Length":{"0":43,"1":39}
}
df_TAGS = pd.DataFrame(DummyUserTags)
df_TAGS.columns = 'TagID', 'DocID', 'TagStartIdx', 'TagLength'

In [103]:
df_Sentences = pd.concat(list(
        df_TEXT.apply(split_in_sentences, axis = 1)))
df_Sentences

,DocID,SentID,SentText,SentStartIdx,SentLength
0,1,0,This is a random document with ID 1.,0,39
1,1,1,In this document we are talking about cats.,39,44
2,1,2,And there is also something about mice.,83,39
0,2,0,This is a random document with ID 2.,0,37
1,2,1,In this document we are talking about dogs.,37,44
2,2,2,And there is also something about mice.,81,39
0,3,0,This is a random document with ID 3. this doc ...,0,77
1,3,1,"So no mice, cats nor anything else.",77,35

In [68]:
# get the corresponding text to a tag row in the UserTags / SugestedTags data (coming from FS backend)
def get_tag_sentence (TagRow, Sentences):
    SentenceRow = Sentences[
        (Sentences['DocID'] == TagRow['DocID']) & 
        (Sentences['SentStartIdx'] <= TagRow['TagStartIdx'])
    ]

    return SentenceRow['SentText'].values[0]

In [95]:
get_tag_sentence(df_TAGS.iloc[1], df_Sentences)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [96]:
df_TAGS.iloc[1]

TagID           2
DocID           1
TagStartIdx    81
TagLength      39
Name: 1, dtype: int64

In [97]:
df_Sentences

,DocID,SentID,SentText,SentStartIdx,SentLength
0,1,0,This is a random document with ID 1.,0,36
1,1,1,In this document we are talking about cats.,39,43
2,1,2,And there is also something about mice.,83,39
0,2,0,This is a random document with ID 2.,0,36
1,2,1,In this document we are talking about dogs.,37,43
2,2,2,And there is also something about mice.,81,39
0,3,0,This is a random document with ID 3. this doc ...,0,76
1,3,1,"So no mice, cats nor anything else.",77,35

In [29]:
lengths

[12, 35, 1, 11, 13, 56]

In [69]:
np.array([len(sentence) for sentence in sent_tokenize(sent)])

array([12, 35,  1, 11, 13, 56])

In [81]:
[sentence for sentence in sent_tokenize(sent)]

['Hello World.',
 'this is a ,..., realdy ..   crazy .',
 '.',
 'sentence  .',
 '/a/sdf.as/df.',
 'a.sdf.asd.f/asd.f.asdf.as.df.asdg.ab.dflvjgalsd.b.b ....']

In [78]:
sent_tokenize.span_tokenize(sent)

AttributeError: 'function' object has no attribute 'span_tokenize'

In [74]:
import nltk

In [80]:
from nltk.sent_tokenize import TreebankWordTokenizer

ModuleNotFoundError: No module named 'nltk.sent_tokenize'

In [ ]:
TreebankWordTokenizer().span_tokenize()